body {
  font-family: "Poppins", sans-serif;
}

.success__message {
  color: darkgreen;
  font-weight: 400;
}

.custome__card {
  transition: 0.2s ease-in-out;
}
.custome__card:hover {
  background: rgb(230, 230, 230);
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

.list-group-item {
  cursor: pointer;
}

.card_custome {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
